<center>
    <!-- Place this tag where you want the button to render. -->
    <!-- <a class="github-button" href="https://github.com/matcornic/hugo-theme-learn/archive/master.zip" data-icon="octicon-cloud-download" aria-label="Download matcornic/hugo-theme-learn on GitHub">Download</a> -->

    <!-- Place this tag where you want the button to render. -->
    <!-- <a class="github-button" href="https://github.com/nimona/nimona" data-icon="octicon-star" data-show-count="true" aria-label="Star nimona/nimona on GitHub">Star</a> -->

    <!-- Place this tag where you want the button to render. -->
    <!-- <a class="github-button" href="https://github.com/nimona/nimona/fork" data-icon="octicon-repo-forked" data-show-count="true" aria-label="Fork nimona/nimona on GitHub">Fork</a> -->

    <p>Built with <a href="https://github.com/matcornic/hugo-theme-learn"><i class="fa fa-heart"></i></a> from <a href="http://getgrav.org">Grav</a> and <a href="http://gohugo.io/">Hugo</a></p>
</center>
<!-- Place this tag in your head or just before your close body tag. -->
<!-- <script async defer src="https://buttons.github.io/buttons.js"></script> -->
